<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>X-ray App</title>
  <meta name="description" content="X-ray App - Pneumonia x-ray analysis.">
  <meta name="author" content="Sibel Tanoglu">
  <link rel="stylesheet" type= "text/css" href="/static/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<div id="nav-container">
  <h3 id="app-name">X-ray</h3>
</div>

<div id="welcome-text" class="{{welcome_text_container_css}}">
  <p>Pneumonia x-ray analysis.</p>
  <p class="bad">Unable to detect longs.</p>
</div>

<div id="result-text" class="{{result_text_container_css}}">
  <p class="result-text-line-1 {{result_text_line_1_css}}">{{result_text_line_1}}</p>
    <p class="result-text-line-2 {{result_text_line_2_css}}">{{result_text_line_2}}</p>
      <p class="result-text-line-3 {{result_text_line_3_css}}">{{result_text_line_3}}</p>
</div>

<div class="form-result-container {{top_margin_css}}">
  <form id="upload-form" method="post" action="upload" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Select an x-ray image file:
        </label>

        <input type="file" name="image" id="image-upload" accept=".png, .jpg, .jpeg">
        <div id="analyze-button-container">
            <button id="analyze-button">Analyze</button>
        </div>
    </form>


</div>

<div id="image-preview-container">
  <img class="{{opacity_css}}" id="image-preview" src="/static/{{result_image}}" alt="x-ray image used for analysis" />

<img id="image-preview-overlay" src="/static/{{result_image_overlay}}" alt="" />

</div>


  <!-- <script src="js/scripts.js"></script> -->
  <script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#image-preview').attr('src', e.target.result);
        $('#image-preview').removeClass("low-opacity");
        $('#result-text').removeClass("visible");
        $('#welcome-text').removeClass("hidden");
        $('#welcome-text').addClass("visible");
        $('#image-preview-overlay').addClass("hidden");
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

    $("#image-upload").change(function() {
      readURL(this);
    });
  </script>
</body>
</html>
