

html {
  font-family: sans-serif;
  font-size: 16px;
    max-width: 800px;
      margin: 0 auto;
      padding: 0;
}

#image-preview-container {
  position: fixed;
    z-index: -1000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: black;
      display: flex;
      justify-content: center;
      padding: 50px;
}

#image-preview {
  max-width: 800px;
  height: auto;
  border-radius: 15px;
  opacity: .5;
}

#image-preview-overlay {
  max-width: 800px;
  height: auto;
  opacity: .5;
  animation: result-overlay 3s infinite;
  position: absolute;
  top: -145px;
}


@keyframes result-overlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 0;
  }
}

#nav-container {
  height: 50px;
  color: lightseagreen;
    text-shadow: 1px 0px #000000;
      font-size: 30px;
      padding-left: 26px;
  /* background-color: rgba(63, 191, 155, .5) */
}

#welcome-text {
  text-align: center;
  color: lightseagreen;
  font-size: 32px;
  text-shadow: 1px 0px #000000;
}

.good {
  color: lightseagreen !important;
  font-weight: bold;
  font-size: 28px !important;
    text-shadow: 1px 0px #000000;
}

.bad {
  color: yellow !important;
  font-weight: bold;
  font-size: 28px !important;
    text-shadow: 1px 0px #000000;
}

button {
  padding: 12px 24px;
  color: white;
  background-color: lightseagreen;
  font-size: 18px;
  border-radius: 12px;
  border:0;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
}


.form-result-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  justify-content: center;
  color: whitesmoke;
}

.little-space {
    margin-top: 155px !important;
}

#analyze-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.low-opacity {
  opacity: .1 !important;
}

.medium-opacity {

}

#image-upload {
  width: 90px;
}

#result-text, #welcome-text {
  display: none;
}

#result-text {
  text-align: center;
  color: whitesmoke;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

form > p:first-child label {
  color: #45474f;
}

form > p > textarea {
  margin-right: 50px;
  margin-top: 13px;
  border-radius: 4px;
  min-width: 350px;
  width: calc(100% - 50px);
}

form > p > button {
  padding: 10px 32px;
      border-radius: 5px;
      font-size: 16px;
      box-shadow: 0px 2px 5px grey;
      color: whitesmoke;
      background-color: red;
      border: none;
}

.result-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  min-height: 150px;

}

.result-container > img {
  max-width: 140px;

}


.fire-alert {
  color: red;
  font-weight: bold;
}
